<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href= "{{ asset('css/mystyle.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>


<div class="wrapper">

    <nav id="sidebar">


       <!-- <span class="dot"></span>-->

        <div class="sidebar-header">
            <img id="profile_pic" class="rounded-circle" src="{{ asset('img/logo_circular.jpg') }}" alt="profile-picture">
        </div>

        <ul class="list-unstyled components">
            <li class="active nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">
                    <i><img src="{{  asset('img/profile.svg') }}" alt="home symbol"></i>
                    <span>Profil</span>
                </a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" href="{{ path('statistics') }}">
                     <i><img src="{{  asset('img/stats.svg') }}" alt="home symbol"></i>
                     <span>Statistiken</span>
                 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('entries') }}">
                    <i><img src="{{  asset('img/entries.svg') }}" alt="entries symbol"></i>
                    <span>Einträge</span>
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ path('infos') }}">
                   <i><img src="{{  asset('img/info.svg') }}" alt="entries symbol"></i>
                   <span>Info & Downloads</span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ path('blackboard') }}">
                   <i><img src="{{  asset('img/bookmark.svg') }}" alt="entries symbol"></i>
                   <span>Schwarzes Brett</span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ path('support') }}">
                   <i><img src="{{  asset('img/settings.svg') }}" alt="entries symbol"></i>
                   <span>Support</span>
               </a>
            </li>
        </ul>

        <div class="menu-toggler container-fluid">
            <!--<span>Menu</span>-->
            <button onclick="closeNav()" id="sidebarCollapse" class="btn">
               <img  id="arrow" src=" {{ asset('img/close-menu.svg') }}" alt="logout symbol">
            </button>
        </div>

        <div class="logout">
            <div >
                {% if app.user %}
                    <a href="{{ logout_path('main') }}">
                        <i><img  src=" {{ asset('img/exit.svg') }}" alt="logout symbol"></i>
                        <span>Logout</span>
                    </a>
                {% endif %}
            </div>
        </div>

    </nav>

    <div id="content">

        <div class="container">
            <div class="row">
                <div class="col">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

    </div>
</div>

{% block javascripts %}{% endblock %}
<script src=" {{ asset('js/animations.js') }}" ></script>
</body>
</html>
